include ./table-pager
include ./sortable-table

mixin brands_table()
    table.table.table-bordered.table-striped.tablesorter-hover.brands-table(style="display: none;")
        thead
            tr
                th Name
                th Link
                th Product Count
        tbody

block append scripts
    script(src='/js/tpl/purl.js', type='text/javascript')
    script(src='/js/widgets/tables/brands-table.js', type='text/javascript')