block append scripts
    link(rel='stylesheet', href='/stylesheets/codemirror/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/codemirror/show-hint.css')
    script(src="/js/tpl/codemirror/codemirror.min.js")
    script(src="/js/tpl/codemirror/show-hint.js")
    script(src="/js/tpl/codemirror/codemirror-mode-css.min.js")
    script(src="/js/tpl/codemirror/css-hint.js")
    script(src="/js/widgets/css-editor-widget.js")