block append scripts
    link(rel='stylesheet', href='/stylesheets/fileupload/jquery.fileupload.css')
    script(src="/js/tpl/fileupload/jquery.ui.widget.js")
    script(src="/js/tpl/fileupload/jquery.fileupload.min.js")
    script(src="/js/tpl/fileupload/jquery.iframe-transport.js")