block append header
   link(rel='stylesheet', href='/stylesheets/product-images.css')

mixin product_image_header
   .product-image-header
        .crop
            .overlay
        .circle
            .circle