block append scripts
    link(type='text/css', href='/stylesheets/tablesorter.css',  rel='stylesheet')
    script(src='/js/tpl/tablesorter/jquery.tablesorter.min.js', type='text/javascript')
    script(src='/js/tpl/tablesorter/jquery.tablesorter.widgets.min.js', type='text/javascript')
    script(src='/js/tpl/tablesorter/jquery.tablesorter.pager.min.js', type='text/javascript')
    script(src='/js/widgets/tables/sortable-table.js', type='text/javascript')
