include layout
doctype html
html
    +head()
        include ./widgets/brand-owners-table
        script(src="/js/brand-owners.js")
    +body()
        .content-container
            .page-content
                h3.pull-left Brand Owners
                .pull-right
                    a.btn.btn-sm.btn-success(href="/brand-owner/create/view", style="margin-top: 8px;") Create Brand Owner
                .clearfix
                +brand_owners_table()
        -if(typeof(caller) == 'undefined' || caller.role == 'user')
            +fixed_footer()