include layout
doctype html
html
    +head()
        script(src="/js/brand-owner-create.js")
    +body()
        .content-container
            .page-content
                h3 Create Brand Owner
                label Brand Owner Name
                input.brand-owner-name
                div(style="margin-top: 5px;")
                    button.btn.btn-sm.btn-success.btn-create-brand-owner Create
                    button.btn.btn-sm.btn-cancel.btn-cancel-brand-owner(style="margin-left: 10px;")  Cancel
        -if(typeof(caller) == 'undefined' || caller.role == 'user')
            +fixed_footer()
