mixin head()
    head
        //-, minimal-ui
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1", charset="UTF-8")
        meta(name="description", content="Scan, share, discuss.  Reach out to your favorite brands or discuss issues!")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")

        //- title
        -if(!caller)
            title= 'Action!'
        -else
            title= 'Action! '+ title

        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.min.css')

        link(rel='stylesheet', href='/stylesheets/animate.min.css')

        link(rel='stylesheet', href='/stylesheets/dickson.css')

        link(rel='stylesheet', href='/stylesheets/fontawesome/font-awesome.min.css')
        link(rel="shortcut icon", href="/img/favicon.ico", type="image/ico")
        script(src="/js/tpl/jquery-2.0.3.min.js")
        script(src="/js/tpl/bootstrap/bootstrap.min.js")
        script(src='/js/tpl/spin.min.js', type='text/javascript')
        script(src="/js/tpl/doT.min.js")
        script(src="/js/tpl/knockout.js")
        script(src="/js/tpl/knockout.bootstrap.min.js")
        script(src="/js/tpl/moment.min.js")
        script(src="/js/widgets/common-widgets.js")
        script(src="/js/util/polling.js")
        script(src="/js/profile-navbar.js")
        include ./widgets/fixed-footer
        block

mixin body()
    body
        div.navbar.navbar-fixed-top
            div.navbar-inner
                div(style="position: absolute; left: 50%; padding-right: 3px; margin-left: -75px;")
                    a.brand(href="/", style="").
                        <svg xmlns="http://www.w3.org/2000/svg" class="brand-svg" viewBox="0 0 324 72.414" enable-background="new 0 0 360 360"><switch transform="translate(-18 -143.793)"><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"/><g><g><path class="logo-text-background" d="M339.025 149.382h-235.204c-1.649 0-2.98 1.377-2.98 3.022v60.822c0 1.646 1.33 2.981 2.98 2.981h235.204c1.644 0 2.975-1.335 2.975-2.98v-60.822c0-1.645-1.331-3.023-2.975-3.023z"/><g><g fill="#fff"><path d="M159.261 185.518v-.117c0-8.8 6.731-16.045 16.167-16.045 4.653 0 7.936 1.266 10.525 3.45.572.459 1.377 1.497 1.377 2.991 0 2.185-1.785 3.91-3.966 3.91-1.152 0-2.016-.459-2.534-.863-1.554-1.206-3.162-1.955-5.461-1.955-4.377 0-7.477 3.852-7.477 8.397v.116c0 4.717 3.046 8.511 7.821 8.511 2.306 0 4.085-.805 5.75-2.13.459-.34 1.322-.802 2.36-.802 2.064 0 3.675 1.668 3.675 3.741 0 1.144-.514 2.067-1.266 2.759-2.586 2.356-5.86 3.967-10.922 3.967-9.257 0-16.049-7.133-16.049-15.93z"/><path d="M195.528 192.016v-14.61h-.29c-2.074 0-3.737-1.667-3.737-3.737 0-2.069 1.663-3.74 3.737-3.74h.29v-3.851c0-2.414 1.955-4.372 4.367-4.372 2.416 0 4.371 1.958 4.371 4.372v3.851h3.856c2.067 0 3.734 1.671 3.734 3.74 0 2.07-1.667 3.737-3.734 3.737h-3.856v13.169c0 2.015.866 2.992 2.821 2.992.282 0 .868-.057 1.035-.057 1.959 0 3.624 1.609 3.624 3.622 0 1.557-1.036 2.818-2.245 3.281-1.612.627-3.104.861-5.005.861-5.344.001-8.968-2.129-8.968-9.258z"/><path d="M219.506 178.28c0-2.416 1.952-4.371 4.37-4.371 2.409 0 4.371 1.955 4.371 4.371v18.45c0 2.414-1.962 4.369-4.371 4.369-2.418 0-4.37-1.955-4.37-4.369v-18.45z"/><path d="M234.961 185.518v-.117c0-8.857 7.126-16.045 16.723-16.045 9.55 0 16.62 7.075 16.62 15.93v.116c0 8.857-7.127 16.047-16.73 16.047-9.553-.001-16.613-7.073-16.613-15.931zm24.724 0v-.117c0-4.544-3.281-8.512-8.111-8.512-5.004 0-7.995 3.853-7.995 8.397v.116c0 4.543 3.279 8.511 8.104 8.511 5.011 0 8.002-3.85 8.002-8.395z"/><path d="M148.735 168.681c-2.409 0-4.364 1.956-4.364 4.371v.303c-2.483-2.182-5.425-3.789-8.663-3.789-9.481 0-16.521 7.094-16.521 15.835v.116c0 8.741 6.979 15.721 16.408 15.721 2.894 0 6.6-2.154 8.777-5.812v.099c0 2.415 1.02 5.575 4.364 5.575 2.415 0 4.367-1.955 4.367-4.369v-23.679c0-2.415-1.953-4.371-4.368-4.371zm-4.75 16.836c0 4.486-2.663 8.288-8.278 8.288-4.773 0-8.002-3.916-8.002-8.403v-.114c0-4.488 2.949-8.287 7.888-8.287 5.43 0 8.391 3.917 8.391 8.401v.115z"/><path d="M273.732 173.957c0-2.413 1.955-4.37 4.361-4.37 2.419 0 4.374 1.956 4.374 4.37v.346c2.013-2.593 4.605-4.947 9.037-4.947 6.606 0 10.465 4.371 10.465 11.444v15.931c0 2.415-1.963 4.37-4.374 4.37-2.413 0-4.367-1.955-4.367-4.37v-13.169c0-4.142-1.963-6.271-5.293-6.271-3.339 0-5.468 2.129-5.468 6.27v13.17c0 2.414-1.955 4.369-4.374 4.369-2.406 0-4.361-1.955-4.361-4.369v-22.774z"/></g><path d="M223.767 161.871c2.563 0 4.467 1.901 4.467 4.362v.103c0 2.463-1.904 4.362-4.467 4.362-2.563 0-4.457-1.899-4.457-4.362v-.103c0-2.461 1.894-4.362 4.457-4.362z" fill="#c5c5c5"/><path d="M223.767 161.871c2.563 0 4.467 1.901 4.467 4.362v.103c0 2.463-1.904 4.362-4.467 4.362-2.563 0-4.457-1.899-4.457-4.362v-.103c0-2.461 1.894-4.362 4.457-4.362z" fill="#fff"/><path d="M319.947 184.692c0 2.414-1.956 4.369-4.369 4.369-2.417 0-4.372-1.955-4.372-4.369v-18.452c0-2.416 1.955-4.369 4.372-4.369 2.413 0 4.369 1.953 4.369 4.369v18.452z" fill="#fff"/><path d="M315.687 201.101c-2.571 0-4.469-1.9-4.469-4.363v-.102c0-2.464 1.898-4.36 4.469-4.36 2.561 0 4.458 1.896 4.458 4.36v.102c.001 2.462-1.897 4.363-4.458 4.363z" fill="#c5c5c5"/><path d="M315.687 201.101c-2.571 0-4.469-1.9-4.469-4.363v-.102c0-2.464 1.898-4.36 4.469-4.36 2.561 0 4.458 1.896 4.458 4.36v.102c.001 2.462-1.897 4.363-4.458 4.363z" fill="#fff"/><path d="M326.646 162.965h-1.11c-.282 0-.514-.232-.514-.514 0-.282.232-.514.514-.514h3.381c.282 0 .514.232.514.514 0 .281-.232.514-.514.514h-1.11v3.597c0 .315-.265.58-.58.58-.315 0-.58-.265-.58-.58v-3.597zm3.067-.53c0-.315.249-.563.563-.563h.133c.232 0 .414.133.514.298l1.343 2.205 1.375-2.205c.116-.199.265-.298.497-.298h.133c.298 0 .547.248.547.563v4.16c0 .298-.248.547-.547.547-.299 0-.547-.249-.547-.547v-2.668l-.995 1.541c-.115.182-.248.298-.464.298-.216 0-.348-.099-.481-.298l-.978-1.508v2.635c0 .298-.248.547-.547.547-.299 0-.547-.249-.547-.547v-4.16z" fill="#363636"/></g></g><g><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="54.964" y1="216.206" x2="54.964" y2="143.793"><stop offset="0" class="bottom-left-gradient" stop-color="#9C9C9C"/><stop offset="1" class="top-left-gradient" stop-color="#D5D5D5"/></linearGradient><path d="M88.96 149.367h-18.905.011v-2.603c0-1.641-1.331-2.971-2.973-2.971h-24.867c-1.639 0-2.97 1.331-2.97 2.971v2.603h.01-18.294c-1.645 0-2.972 1.373-2.972 3.013v60.852c0 1.642 1.327 2.973 2.972 2.973h67.988c1.64 0 2.967-1.331 2.967-2.972v-60.852c0-1.64-1.327-3.014-2.967-3.014z" fill="url(#a)"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="55.306" y1="216.206" x2="55.306" y2="150.935"><stop offset="0" class="bottom-right-gradient" stop-color="#C7C7C7"/><stop offset="1" class="top-right-gradient" stop-color="#fff"/></linearGradient><path d="M18.684 215.11c.544.663 1.36 1.095 2.288 1.095h67.988c1.64 0 2.967-1.331 2.967-2.972v-60.852c0-.524-.147-1.013-.385-1.447l-72.858 64.176z" fill="url(#b)"/><g><path d="M70.322 183.844c0 9.929-8.05 17.978-17.969 17.978-9.928 0-17.974-8.049-17.974-17.978 0-9.928 8.046-17.976 17.974-17.976 9.919-.001 17.969 8.048 17.969 17.976z" fill="#fff"/><path d="M44.736 186.22c-1.681 0-3.066-1.34-3.113-3.031-.09-3.434.883-6.223 2.896-8.29 2.917-2.995 7.009-3.319 8.63-3.319 1.719 0 3.116 1.394 3.116 3.115 0 1.72-1.397 3.113-3.116 3.113-.649 0-2.872.104-4.168 1.435-.794.818-1.174 2.088-1.129 3.779.045 1.719-1.31 3.15-3.032 3.196l-.084.002z"/><path d="M64.39 172.411c1.291 2.304 2.031 4.958 2.031 7.786 0 8.836-7.16 15.997-15.987 15.998-4.309.001-8.215-1.711-11.093-4.485 2.735 4.897 7.962 8.211 13.969 8.21 8.823-.001 15.985-7.164 15.985-15.998 0-4.525-1.882-8.603-4.905-11.511z" fill="#d1d2d3"/><g><path d="M78.113 201.687c0 2.257-1.83 4.089-4.081 4.089-2.251 0-4.085-1.833-4.085-4.089 0-2.259 1.834-4.088 4.085-4.088s4.081 1.829 4.081 4.088z"/><path d="M68.921 198.334c.398-.465 1.387-1.499 1.387-1.499 1.038-.806 2.338-1.29 3.751-1.29 1.294 0 2.493.406 3.483 1.094.122.085.289.003.289-.146v-30.529c0-2.004-1.512-3.753-3.512-3.882-2.191-.141-4.011 1.594-4.011 3.753v3.688c0 .105-.13.149-.195.067-4.364-5.495-11.27-8.883-18.936-8.308-10.788.81-19.495 9.509-20.307 20.296-.973 12.926 9.267 23.755 21.992 23.755 6.336.001 12.038-2.702 16.059-6.999zm-16.059.772c-8.727 0-15.83-7.101-15.83-15.829 0-8.729 7.102-15.83 15.83-15.83 8.724 0 15.821 7.101 15.821 15.83 0 8.728-7.097 15.829-15.821 15.829z"/></g></g></g><path d="M82.942 163.939h-.67c-.17 0-.31-.14-.31-.31 0-.17.14-.31.31-.31h2.041c.17 0 .31.14.31.31 0 .17-.14.31-.31.31h-.67v2.172c0 .19-.16.35-.35.35-.19 0-.35-.16-.35-.35v-2.172zm1.851-.321c0-.19.15-.34.34-.34h.08c.14 0 .25.08.31.18l.811 1.331.83-1.331c.07-.12.16-.18.3-.18h.08c.18 0 .33.15.33.34v2.512c0 .18-.15.33-.33.33-.18 0-.33-.15-.33-.33v-1.611l-.601.931c-.07.11-.15.18-.28.18-.13 0-.21-.06-.29-.18l-.59-.911v1.591c0 .18-.15.33-.33.33-.18 0-.33-.15-.33-.33v-2.512z" fill="#fff"/></g></switch></svg>
                    //-img(src="/img/logo.png", style="margin-top: 3px; height: 38px;").brand-logo
                -if(typeof(caller) != 'undefined' && (caller.role == 'admin' || caller.role == 'brand-manager' || caller.role == 'action-admin') )
                    ul.nav.dickson-nav.pull-left
                        include widgets/profile-navbar-widget
                    ul.nav.dickson-nav.pull-right
                        include widgets/admin-navbar-widget
                    ul.nav.dickson-nav.pull-right
                        include widgets/actions-navbar-widget
                -else
                    ul.nav.dickson-nav.pull-left
                        include widgets/profile-navbar-widget
                    ul.nav.dickson-nav.pull-right
                        include widgets/actions-navbar-widget
                .clearfix
        block