include layout

doctype html
html
    +head()
        include ./widgets/products-table
        script(src="/js/products.js")
    +body()
        .content-container
            .page-content
                h3 Products
                +products_table()
                mixin table_pager()
        -if(typeof(caller) == 'undefined' || caller.role == 'user')
            +fixed_footer()