include layout

doctype html
html
    +head()
        include ./widgets/table-pager
        include ./widgets/users-table
        script(src="/js/users.js")
        style.
            .btn-clear-completed {
                margin-right: 10px;
            }
    +body()
        .content-container
            .page-content
                h3.pull-left Users
                a.btn.btn-sm.btn-success.pull-right(href="/user/create/view") Create User
                a.btn.btn-sm.btn-warning.btn-clear-completed.pull-right Clear Surveys Completed
                .clearfix
                +users_table()
                mixin table_pager()
        -if(typeof(caller) == 'undefined' || caller.role == 'user')
            +fixed_footer()