mixin modal_forgot_password()
    .modal-forgot-password.modal
        .modal-dialog(style="background-color: #fff")
            .modal-header
                button.close(data-dismiss='modal') x
                h3 Retrieve Password
            .modal-body
                form( method="post").modal-credentials-form
                    p Please enter the email address associated with your account
                    input(type="text", name="email", style="width: 100%;").required.email-field
            .modal-footer
                button(data-dismiss="modal").lost-credentials-cancel.btn.btn-warning Cancel
                button(type="submit").btn.btn-primary.btn-ok Submit
                .alert.alert-error.hide(style="margin-top: 5px;")
                button(data-dismiss="alert").close

script(src='/js/modals/forgot-password.js', type='text/javascript')