mixin modal_set_password()
    .set-password-modal.modal
        .modal-dialog(style="background-color: #fff")
            .modal-header
                h3 Reset Password
            .modal-body
                form( method="post", style="margin-bottom: 0;")#set-password-form.well
                    p Please enter your new password
                    input(type="password", name="pass", id='pass-tf', style="width: 100%").required
            .modal-footer
                button(data-dismiss="modal").btn.btn-warning.btn-cancel Cancel
                button(type="submit").btn.btn-primary.btn-reset Submit
            .alert.alert-error.hide

script(src='/js/modals/set-password.js', type='text/javascript')